[submodule "_tree_sitter_ruby_binding/parsers/tree-sitter-python"]
	path = _tree_sitter_ruby_binding/parsers/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "_tree_sitter_ruby_binding/parsers/tree-sitter-haskell"]
	path = _tree_sitter_ruby_binding/parsers/tree-sitter-haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell.git
[submodule "_tree_sitter_ruby_binding/parsers/tree-sitter-java"]
	path = _tree_sitter_ruby_binding/parsers/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
