[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-python"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-haskell"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-haskell
	url = https://github.com/tree-sitter/tree-sitter-haskell.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-java"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-ruby"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-rust"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-c"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-go"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-html"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-html
	url = https://github.com/tree-sitter/tree-sitter-html.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-javascript"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-cpp"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp.git
[submodule "_tree_sitter_ruby_adapter/parsers/tree-sitter-typescript"]
	path = _tree_sitter_ruby_adapter/parsers/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript.git
