$baseline: 8px;

// Set box sizing default to border-box
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

// Reset important margins
blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
  margin: 0;
}

// Configure font settings
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: $baseline * 2;
  font-weight: 400 * 0.75;
  line-height: 1.5;
}
code {
  font-family: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
}
* {
  text-decoration-thickness: 0.1em * 0.75;
}

// Configure font sizes to personal preference
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
code {
  font-size: 0.875em;
}
sup {
  font-size: 0.75em;
}

// Configure elements to maintain a vertical rhythm of 24px
h1, h2, h3 {
  line-height: $baseline * 6;
}
h4, h5, h6 {
  line-height: $baseline * 3;
}
sup {
  vertical-align: top;
}
// The following slight tweaks are necessary but it is unclear why
*:is(ol, ul) > li > pre:first-child {
  margin-top: -1px;
}
hr {
  margin: 23px 0;
}
