$baseline: 8px;
$thin-black-line: 1px solid black;
$thin-gray-line: 1px solid lighten(black, 50%);
$base-font-stack: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  Helvetica, sans-serif;
$code-font-stack: Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console",
  monospace;

// Set box sizing default to border-box
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

// Reset important margins
blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
  margin: 0;
}

// Simplify working with images
img {
  display: block;
}

// Configure font settings
body {
  font-family: $base-font-stack;
  font-size: $baseline * 2;
  font-weight: 400 * 0.75;
  line-height: 1.5;
}
code {
  font-family: $code-font-stack;
}
* {
  text-decoration-thickness: 0.1em * 0.75;
}

// Configure font sizes to personal preference
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
code {
  font-size: 0.875em;
}
figcaption {
  font-size: 0.875em;
}
sup {
  font-size: 0.75em;
}

// Configure elements to maintain a vertical rhythm of 24px
h1, h2, h3 {
  line-height: $baseline * 6;
}
h4, h5, h6 {
  line-height: $baseline * 3;
}
sup {
  vertical-align: top;
}

// Add vertical spacing between elements
blockquote, figure, h1, h2, h3, h4, h5, h6, img, main header, p {
  margin-top: $baseline * 3;
  margin-bottom: $baseline * 3;
}
// Undo vertical spacing from some child elements
figure > *:first-child {
  margin-top: 0;
  margin-bottom: 0;
}
main header > * {
  margin-top: 0;
  margin-bottom: 0;
}

// Configure responsive site width
// Don't allow body to shrink smaller than its largest descendent
body {
  display: grid;
}
// Allow all elements inside main to shrink as small as possible
main {
  overflow: auto;
}
// Configure overflow behavior for images, code blocks, and long words
img {
  max-width: 100%;
}
pre > code {
  overflow-x: scroll;
}
* {
  overflow-wrap: break-word;
}

// General style preferences
a {
  color: black;

  &:hover {
    color: dimgray;
  }
}
strong {
  font-weight: 600;
}
blockquote {
  border-left: $thin-black-line;
  padding-left: 1.5rem;
  font-style: italic;
}
// Center images
img {
  margin-left: auto;
  margin-right: auto;
}
// Add some space between figures and their captions
figcaption {
  margin-top: $baseline;
}
// Add a line and vertical spacing to visually separate footnotes from the article
.footnotes {
  margin: ($baseline * 3) 0;
  border-top: 3px double black;
}

// General code element style preferences
code {
  border: $thin-gray-line;
  border-radius: 4px;
  padding : 3px 3px 1px;
}
pre {
  margin-top: ($baseline * 3) - 5px;
  margin-bottom: ($baseline * 3) - 5px;

  > code {
    display: block;
    border: $thin-black-line;
    border-radius: 4px;
    margin: -5px 0;
    padding : 4px 6px;
    line-height: 1.5rem;
  }
}

// Show language descriptor on code blocks by default
pre {
  position: relative;

  > code[data-language]::before {
    content: attr(data-language);

    position: absolute;
    top: 5px;
    right: 5px;

    border: $thin-black-line;
    border-radius: 4px;
    background: white;

    padding: 0 3px;

    font-family: $base-font-stack;
    font-size: 1rem;
    height: $baseline * 3;
    // Tweak line height to better format the text inside the text box
    line-height: ($baseline * 3) - 3px;
    text-transform: capitalize;
  }

  // Hide language descriptor on selected code blocks
  &.lang-descriptor-hidden > code[data-language]::before {
    content: none;
  }
}
