$baseline: 8px;
$thin-black-line: 1px solid black;

// Configure basic layout of body
body {
  // Don't allow body to become smaller than its largest child
  display: grid;
  // Center body in page
  margin: auto;
  // Add space between body and edge of browser window
  padding: ($baseline * 3) ($baseline * 3);
  // Body can be no wider than a few more than 80 monospace characters
  max-width: ($baseline * 3) * 31;
}

// Graphically seperate header, main, and footer
body > {
  header {
    padding: $baseline 0;
    border-bottom: $thin-black-line;
  }

  footer {
    border-top: $thin-black-line;
    padding: $baseline 0;
  }
}

// Format site header
body > header {
  display: flex;
  justify-content: space-between;
  // Align items vertically at the bottom of the header
  align-items: flex-end;
  // Wrap contents if header is small
  flex-wrap: wrap;
  // Don't allow header to be smaller than its contents
  min-width: -moz-fit-content;
  min-width: fit-content;

  // Format site title
  > h1 {
    line-height: $baseline * 2;
    white-space: nowrap;
    // Remove default margins and add space between title and navigation menu
    margin: 0 ($baseline * 3) 0 0;
    font-weight: 600;
    font-size: 1.5em;

    > a {
      text-decoration: none;
    }
  }

  // Format site navigation menu
  > nav > ul {
    // Remove bullets and indentation from list
    padding: 0;
    // Slight hack to place navigation items at same vertical position as site title
    line-height: 13px;

    > li {
      // Make list horizontal
      display: inline;

      // Add space before each subsequent list item
      + li {
        margin-left: $baseline;
      }
    }
  }
}

// Format site footer
body > footer {
  display: flex;
  justify-content: center;
  // Don't allow footer to be smaller than its contents
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 0.75em;

  // Format footer items
  > p {
    // Remove default margins
    margin: 0;
    white-space: nowrap;
    padding: 0 $baseline;

    // Add a vertical bar before each subsequent item
    + p {
      border-left: $thin-black-line;
    }
  }
}

// Format list of posts
.post-list {
  // Remove bullets and indentation from list
  padding: 0;
  margin: ($baseline * 3) 0;

  > li {
    display: flex;
    justify-content: space-between;
    // Align link and date vertically to the bottom of the list item
    align-items: flex-end;
    // Break slightly from normal vertical spacing because it looks better
    margin: ($baseline * 1.5) 0;

    > a {
      // Add space between post link and date
      margin-right: ($baseline * 3);
    }

    > time {
      white-space: nowrap;
      // Fix every date to a constant width
      font-variant-numeric: tabular-nums;
    }
  }
}
