code {

  // Currently used tokens

  // Generic
  .go, // Generic.Output
  .gp, // Generic.Prompt

  // Tokens left "unhighlighted" for a variety of reasons
  // Whitespace should be left blank
  .w, // Text.Whitespace
  // Most tokens are lumped into the category of "names" by the less-than-ideal lexer
  .n, // Name
  .na, // Name.Attribute
  .nf, // Name.Function
  .nl, // Name.Label
  .nn, // Name.Namespace
  // String interpolation characters are arguably just punctuation
  .si, // Literal.String.Interpol
  // The Java lexer unfortunately categorizes all punctuation marks as operators
  .o, // Operator
  .ow, // Operator.Word
  // Punctuation should primarily fade to the background
  .p // Punctuation
  {
    background-color: transparent;
  }

  // Keyword tokens
  .k, // Keyword
  .kd, // Keyword.Declaration
  .kn, // Keyword.Namespace
  .kr // Keyword.Reserved
  {
    color: #d50;
  }

  // Type tokens
  .kt, // Keyword.Type
  .nb, // Name.Builtin
  .nc // Name.Class
  {
    color: #800;
  }

  // Value tokens
  .kc, // Keyword.Constant
  .bp, // Name.Builtin.Pseudo
  .no, // Name.Constant
  .s, // Literal.String
  .sa, // Literal.String.Affix
  .mi // Literal.Number.Integer
  {
    color: #049;
  }

  // Comment tokens
  .cm, // Comment.Multiline
  .c1 // Comment.Single
  {
    color: gray;
    font-style: italic;
  }

  // Currently unused tokens

  // Miscellaneous
  .esc, // Escape
  .err, // Error
  .x, // Other

  // Keyword
  .kp, // Keyword.Pseudo
  .nd, // Name.Decorator
  .ni, // Name.Entity
  .ne, // Name.Exception
  .fm, // Name.Function.Magic
  .nx, // Name.Other
  .py, // Name.Property
  .nt, // Name.Tag
  .nv, // Name.Variable
  .vc, // Name.Variable.Class
  .vg, // Name.Variable.Global
  .vi, // Name.Variable.Instance
  .vm, // Name.Variable.Magic

  // Literal
  .l,
  .ld, // Literal.Date
  .sb, // Literal.String.Backtick
  .sc, // Literal.String.Char
  .dl, // Literal.String.Delimiter
  .sd, // Literal.String.Doc
  .s2, // Literal.String.Double
  .se, // Literal.String.Escape
  .sh, // Literal.String.Heredoc
  .sx, // Literal.String.Other
  .sr, // Literal.String.Regex
  .s1, // Literal.String.Single
  .ss, // Literal.String.Symbol
  .m, // Literal.Number
  .mb, // Literal.Number.Bin
  .mf, // Literal.Number.Float
  .mh, // Literal.Number.Hex
  .il, // Literal.Number.Integer.Long
  .mo, // Literal.Number.Oct

  // Punctuation
  .p-Marker, // Punctuation.Marker

  // Comment
  .c,
  .ch, // Comment.Hashbang
  .cp, // Comment.Preproc
  .cpf, // Comment.PreprocFile
  .cs, // Comment.Special

  // Generic
  .g,
  .gd, // Generic.Deleted
  .ge, // Generic.Emph
  .gr, // Generic.Error
  .gh, // Generic.Heading
  .gi, // Generic.Inserted
  .gs, // Generic.Strong
  .gu, // Generic.Subheading
  .gt // Generic.Traceback
  {
    // Background color is set to bright red to draw the developer's attention
    // If a once unused token is now being used, it needs to be handled accordingly
    background-color: red;
  }
}
