$colors: (
  "keyword": #d50,
  "type": #800,
  "value": #049,
  "procedure": #738,
  "comment": gray,
  "output": #444,
  "prompt": gray
);

code[data-highlighter=rouge] {

  // Tokens left "unhighlighted" for a variety of reasons
  // Whitespace should be left blank
  .w, // Text.Whitespace
  // Most tokens are lumped into the category of "names" by the less-than-ideal lexer
  .n, // Name
  .na, // Name.Attribute
  .nf, // Name.Function
  .nl, // Name.Label
  .nn, // Name.Namespace
  // String interpolation characters are arguably just punctuation
  .si, // Literal.String.Interpol
  // See the keyword tokens operators comment for more information
  .o, // Operator
  .ow, // Operator.Word
  // Punctuation should primarily fade to the background
  .p // Punctuation
  {
    color: black;
  }

  // Keyword tokens
  .k, // Keyword
  .kd, // Keyword.Declaration
  .kn, // Keyword.Namespace
  .kr // Keyword.Reserved
  {
    color: map-get($colors, "keyword");
  }
  // The Java lexer unfortunately categorizes all punctuation marks as operators
  // Hence Java is better left excluded when syntax-highlighting operators
  // Additional languages should be added to this list as needed
  &[data-language=console], &[data-language=haskell], &[data-language=python] {
    .o, // Operator
    .ow // Operator.Word
    {
      color: map-get($colors, "keyword");
    }
  }

  // Type tokens
  .kt, // Keyword.Type
  .nb, // Name.Builtin
  .nc // Name.Class
  {
    color: map-get($colors, "type");
  }

  // Value tokens
  .kc, // Keyword.Constant
  .bp, // Name.Builtin.Pseudo
  .no, // Name.Constant
  .s, // Literal.String
  .sa, // Literal.String.Affix
  .mi // Literal.Number.Integer
  {
    color: map-get($colors, "value");
  }

  // Comment tokens
  .cm, // Comment.Multiline
  .c1 // Comment.Single
  {
    color: map-get($colors, "comment");
    font-style: italic;
  }

  .go // Generic.Output
  {
    color: map-get($colors, "output");
  }

  .gp // Generic.Prompt
  {
    color: map-get($colors, "prompt");
  }

  // Currently unused tokens

  // Miscellaneous
  .err, // Error
  .x, // Other

  // Keyword
  .kp, // Keyword.Pseudo
  .nd, // Name.Decorator
  .ni, // Name.Entity
  .ne, // Name.Exception
  .fm, // Name.Function.Magic
  .nx, // Name.Other
  .py, // Name.Property
  .nt, // Name.Tag
  .nv, // Name.Variable
  .vc, // Name.Variable.Class
  .vg, // Name.Variable.Global
  .vi, // Name.Variable.Instance
  .vm, // Name.Variable.Magic

  // Literal
  .l,
  .ld, // Literal.Date
  .sb, // Literal.String.Backtick
  .sc, // Literal.String.Char
  .dl, // Literal.String.Delimiter
  .sd, // Literal.String.Doc
  .s2, // Literal.String.Double
  .se, // Literal.String.Escape
  .sh, // Literal.String.Heredoc
  .sx, // Literal.String.Other
  .sr, // Literal.String.Regex
  .s1, // Literal.String.Single
  .ss, // Literal.String.Symbol
  .m, // Literal.Number
  .mb, // Literal.Number.Bin
  .mf, // Literal.Number.Float
  .mh, // Literal.Number.Hex
  .il, // Literal.Number.Integer.Long
  .mo, // Literal.Number.Oct

  // Punctuation
  .pm, // Punctuation.Marker

  // Comment
  .c,
  .ch, // Comment.Hashbang
  .cp, // Comment.Preproc
  .cpf, // Comment.PreprocFile
  .cs, // Comment.Special

  // Generic
  .g,
  .gd, // Generic.Deleted
  .ge, // Generic.Emph
  .gr, // Generic.Error
  .gh, // Generic.Heading
  .gi, // Generic.Inserted
  .gs, // Generic.Strong
  .gu, // Generic.Subheading
  .gt // Generic.Traceback
  {
    // Background color is set to bright red to draw the developer's attention
    // If a once unused token is now being used, it needs to be handled accordingly
    background-color: red;
  }
}

code[data-highlighter=tree-sitter] {
  // Tokens left "unhighlighted" for a variety of reasons
  // Embedded code should not be the same color as its surroundings
  .em, // embedded
  // Punctuation should primarily fade to the background
  .pu-b, // punctuation.bracket
  .pu-d, // punctuation.delimiter
  .pu-s, // punctuation.special
  // The variable token is somewhat of a catch-all token
  .v // variable
  {
    color: black;
  }

  // Procedure tokens
  .f, // function
  .f-b, // function.builtin
  .f-m // function.method
  {
    color: map-get($colors, "procedure");
    font-style: italic;
  }

  // Keyword tokens
  .k, // keyword
  .o // operator
  {
    color: map-get($colors, "keyword");
  }

  // Type tokens
  .cr, // constructor
  .t // type
  {
    color: map-get($colors, "type");
  }

  // Value tokens
  .ct-b, // constant.builtin
  .es, // escape
  .n, // number
  .s // string
  {
    color: map-get($colors, "value");
  }

  // Comment tokens
  .cm // comment
  {
    color: map-get($colors, "comment");
    font-style: italic;
  }

  // Currently unused tokens
  .b1, // _bool
  .b2, // _boolean
  .ch, // character
  .cd, // conditional
  .ct, // constant
  .ct-m, // constant.macro
  .fl, // float
  .i, // include
  .l-d, // local.definition
  .l-r, // local.reference
  .na, // namespace
  .pr, // property
  .r, // repeat
  .sy // symbol
  {
    // Background color is set to bright red to draw the developer's attention
    // If a once unused token is now being used, it needs to be handled accordingly
    background-color: red;
  }
}
