$colors: (
  "keyword": #d50,
  "type": #800,
  "value": #049,
  "procedure": #738,
  "comment": gray,
  "attribute": #162,
  "output": #444,
  "prompt": gray
);

code[data-highlighter=rouge] {

  // Tokens left "unhighlighted" for a variety of reasons
  // Whitespace should be left blank
  .w, // Text.Whitespace
  // Most tokens are lumped into the category of "names" by the less-than-ideal lexer
  .n, // Name
  .na, // Name.Attribute
  .no, // Name.Constant
  .nl, // Name.Label
  .nx, // Name.Other
  // String interpolation characters are arguably just punctuation
  .si, // Literal.String.Interpol
  // See the keyword tokens operators comment for more information
  .o, // Operator
  .ow, // Operator.Word
  // Punctuation should primarily fade to the background
  .p // Punctuation
  {
    color: black;
  }

  // Distinguish constants from other variables
  .no // Name.Constant
  {
    font-weight: bold;
  }

  // Procedure tokens
  .nf // Name.Function
  {
    color: map-get($colors, "procedure");
    font-style: italic;
  }

  // Keyword tokens
  .k, // Keyword
  .kd, // Keyword.Declaration
  .kn, // Keyword.Namespace
  .kr, // Keyword.Reserved
  &[data-language=cpp] .nl, // Name.Label
  // This class is used for keywords in other languages but apparently not in Ruby
  &[data-language=ruby] .nb, // Name.Builtin
  .nt, // Name.Tag
  // The Java lexer unfortunately categorizes all punctuation marks as operators
  // Hence Java is better left excluded when syntax-highlighting operators
  &:not([data-language=java]) .o, // Operator
  &:not([data-language=java]) .ow // Operator.Word
  {
    color: map-get($colors, "keyword");
  }

  // Type tokens
  .kt, // Keyword.Type
  &[data-language=typescript] .kr, // Keyword.Reserved
  .nb, // Name.Builtin
  .nc, // Name.Class
  // Namespaces as types is imperfect but types often show up in function namespacing
  .nn // Name.Namespace
  {
    color: map-get($colors, "type");
  }

  // Value tokens
  .kc, // Keyword.Constant
  .bp, // Name.Builtin.Pseudo
  .cp, // Comment.Preproc
  .s, // Literal.String
  .sa, // Literal.String.Affix
  .sb, // Literal.String.Backtick
  .dl, // Literal.String.Delimiter
  .s2, // Literal.String.Double
  .mi // Literal.Number.Integer
  {
    color: map-get($colors, "value");
  }

  // Comment tokens
  .cm, // Comment.Multiline
  .c1 // Comment.Single
  {
    color: map-get($colors, "comment");
    font-style: italic;
  }

  // Attribute tokens
  &[data-language=html] .na, // Name.Attribute
  &[data-language=yaml] .na, // Name.Attribute
  &[data-language=markdown] .nl, // Name.Label
  &[data-language=typescript] .nl, // Name.Label
  .py // Name.Property
  {
    color: map-get($colors, "attribute");
    font-style: italic;
  }

  .go // Generic.Output
  {
    color: map-get($colors, "output");
  }

  .gp // Generic.Prompt
  {
    color: map-get($colors, "prompt");
  }

  // Currently unused tokens

  // Miscellaneous
  .err, // Error
  .x, // Other

  // Keyword
  .kp, // Keyword.Pseudo
  .nd, // Name.Decorator
  .ni, // Name.Entity
  .ne, // Name.Exception
  .fm, // Name.Function.Magic
  .nv, // Name.Variable
  .vc, // Name.Variable.Class
  .vg, // Name.Variable.Global
  .vi, // Name.Variable.Instance
  .vm, // Name.Variable.Magic

  // Literal
  .l,
  .ld, // Literal.Date
  .sc, // Literal.String.Char
  .sd, // Literal.String.Doc
  .se, // Literal.String.Escape
  .sh, // Literal.String.Heredoc
  .sx, // Literal.String.Other
  .sr, // Literal.String.Regex
  .s1, // Literal.String.Single
  .ss, // Literal.String.Symbol
  .m, // Literal.Number
  .mb, // Literal.Number.Bin
  .mf, // Literal.Number.Float
  .mh, // Literal.Number.Hex
  .il, // Literal.Number.Integer.Long
  .mo, // Literal.Number.Oct

  // Punctuation
  .pm, // Punctuation.Marker

  // Comment
  .c,
  .ch, // Comment.Hashbang
  .cpf, // Comment.PreprocFile
  .cs, // Comment.Special

  // Generic
  .g,
  .gd, // Generic.Deleted
  .ge, // Generic.Emph
  .gr, // Generic.Error
  .gh, // Generic.Heading
  .gi, // Generic.Inserted
  .gs, // Generic.Strong
  .gu, // Generic.Subheading
  .gt // Generic.Traceback
  {
    // Background color is set to bright red to draw the developer's attention
    // If a once unused token is now being used, it needs to be handled accordingly
    background-color: red;
  }
}

code[data-highlighter=tree-sitter] {
  // Tokens left "unhighlighted" for a variety of reasons
  // Constants are variables
  .ct, // constant
  // Embedded code should not be the same color as its surroundings
  .em, // embedded
  // Delimiters should primarily fade to the background
  .d, // delimiter
  // The variable token is somewhat of a catch-all token
  .v, // variable
  .v-p // variable.parameter
  {
    color: black;
  }

  // Punctuation should assume the color of its container
  .pu-b, // punctuation.bracket
  .pu-d, // punctuation.delimiter
  .pu-s, // punctuation.special
  {
    background-color: transparent;
  }

  // Distinguish parameter variables from other variables
  .v-p // variable.parameter
  {
    text-decoration: underline;
  }

  // Distinguish constants from other variables
  &:not([data-language=html]) .ct // constant
  {
     font-weight: bold;
  }

  // Procedure tokens
  .f, .f > .v, // function
  .f-b, // function.builtin
  .f-ma, // function.macro
  .f-m // function.method
  {
    color: map-get($colors, "procedure");
    font-style: italic;
  }

  // Distinguish macros from normal procedures
  .f-ma // function.macro
  {
    font-weight: bold;
  }

  // Keyword tokens
  .cd, // conditional
  .f-m-b, // function.method.builtin
  .i, // include
  .k, // keyword
  .o, // operator
  .tg, // tag
  .v-b // variable.builtin
  {
    color: map-get($colors, "keyword");
  }

  // Type tokens
  .cr, // constructor
  .na, // namespace
  .t, // type
  .t-b // type.builtin
  {
    color: map-get($colors, "type");
  }

  // Value tokens
  &[data-language=html] .ct, // constant
  .ct-b, // constant.builtin
  .es, // escape
  .n, // number
  .s, // string
  .s-s-s // string.special.symbol
  {
    color: map-get($colors, "value");
    font-style: normal;
  }

  // Comment tokens
  .cm // comment
  {
    color: map-get($colors, "comment");
    font-style: italic;
  }

  // Attribute tokens
  .a, // attribute
  .pr // property
  {
    color: map-get($colors, "attribute");
    font-style: italic;
  }

  // Currently unused tokens
  .b1, // _bool
  .b2, // _boolean
  .ch, // character
  .ct-m, // constant.macro
  .fl, // float
  .f-s, // function.special
  .ij-c, // injection.content
  .ij-l, // injection.language
  .la, // label
  .l-d, // local.definition
  .l-r, // local.reference
  .l-s, // local.scope
  .r, // repeat
  .s-s, // string.special
  .s-s-r, // string.special.regex
  .sy, // symbol
  .tg-e // tag.error
  {
    // Background color is set to bright red to draw the developer's attention
    // If a once unused token is now being used, it needs to be handled accordingly
    background-color: red;
  }
}
