---
---

$thin-black-line: 1px solid black;

// Set box sizing default to border-box
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

// Reset important margins
blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
  margin: 0;
}

// Configure font settings
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400 * 0.75;
}
* {
  text-decoration-thickness: 0.1em * 0.75;
}

// Set page padding and page body width
html {
  padding: 15px 15px;
}
body {
  // Don't allow body to become smaller than its largest child
  display: grid;
  // Center body in page
  margin: auto;
  max-width: 70ch;
}

// Graphically seperate header, main, and footer
body > {
  header {
    padding: 5px 0;
    border-bottom: $thin-black-line;
  }

  main {
    margin: 15px 0;
  }

  footer {
    border-top: $thin-black-line;
    padding: 5px 0;
  }
}

// Format site header
body > header {
  display: flex;
  justify-content: space-between;
  // Align items vertically at the bottom of the header
  align-items: flex-end;
  // Wrap contents if header is small
  flex-wrap: wrap;
  // Don't allow header to be smaller than its contents
  min-width: -moz-fit-content;
  min-width: fit-content;

  a {
    color: black;
  }

  // Format site title
  > h1 {
    line-height: 1em;
    white-space: nowrap;
    // Add space between title and navigation menu
    margin-right: 15px;
    font-weight: 600;
    font-size: 1.5em;

    > a {
      text-decoration: none;
    }
  }

  // Format site navigation menu
  > nav > ul {
    // Remove bullets and indentation from list
    padding: 0;

    > li {
      // Make list horizontal
      display: inline;

      // Add space before each subsequent list item
      + li {
        margin-left: 10px;
      }
    }
  }
}

// Format site footer
body > footer {
  display: flex;
  justify-content: center;
  // Don't allow footer to be smaller than its contents
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 0.75em;

  a {
    color: black;
  }

  // Format footer items
  > p {
    white-space: nowrap;
    padding: 0 10px;

    // Add a vertical bar before each subsequent item
    + p {
      border-left: $thin-black-line;
    }
  }
}

// Format list of posts
.post-list {
  // Remove bullets and indentation from list
  padding: 0;

  > li {
    display: flex;
    justify-content: space-between;
    // Align link and date vertically to the bottom of the list item
    align-items: flex-end;
    margin: 10px 0;

    > a {
      color: black;
      // Add space between post link and date
      margin-right: 15px;
    }

    > time {
      white-space: nowrap;
      // Fix every date to a constant width
      font-variant-numeric: tabular-nums;
    }
  }
}
