---
---

$thin-black-line: 1px solid black;

// Set box sizing default to border-box
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

// Reset important margins
blockquote, body, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
  margin: 0;
}

// Configure font settings
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400 * 0.75;
}
* {
  text-decoration-thickness: 0.1em * 0.75;
}

// Set page padding and page body width
html {
  padding: 15px 15px;
}
body {
  // Center body in page
  margin: auto;
  max-width: 70ch;
}

// Graphically seperate header, main, and footer
body > {
  header {
    padding: 5px 0;
    border-bottom: $thin-black-line;
  }

  main {
    margin: 15px 0;
  }

  footer {
    border-top: $thin-black-line;
    padding: 5px 0;
  }
}

// Format site header
body > header {
  display: flex;
  justify-content: space-between;
  // Align items vertically at the bottom of the header
  align-items: flex-end;
  // Wrap contents if header is small
  flex-wrap: wrap;
  // Don't allow header to be smaller than its contents
  min-width: -moz-fit-content;
  min-width: fit-content;

  // Format site title
  > h1 {
    line-height: 1em;
    white-space: nowrap;
    // Add space between title and navigation menu
    margin-right: 15px;
  }

  // Format site navigation menu
  > nav > ul {
    // Remove bullets and indentation from list
    padding: 0;

    > li {
      // Make list horizontal
      display: inline;

      // Add space before each subsequent list item
      + li {
        margin-left: 10px;
      }
    }
  }
}
